# Data types 
Defination:  
It's basially the type of classification which the programer intended to use the data and store it into a variables.  
It's tell's the memory how much the memory i am gonna used for storing the data into the memory.    
if you want to store int values you required -8bit of memories to store.  
if you want to store float values you required -16bit of memories to store.

Data types ensurues that the data get's stored into a very efficient manners
So that performing operation can be done very efficiently

# Overviews
1.Introduction to data types  
2.Importance of data types in programming   
3.Basic data types  
* integer
* floating-point number
* strings
* booleans
4. Advanced  Data Types  
* Lists
* Tuples
* Sets
* Dictionaires  
5. Type conversion    
6. Pratical example

In [1]:
## Integer example
age=24
print(type(age))

24

In [2]:
# floating point number
height=23.12
print(type(height))

<class 'float'>

In [4]:
#String datatypes 
name="himanshu"
print(name)

himanshu

In [5]:
#Boolean vairables
a=True
b=False
print(a==b)

False

In [7]:
a=2
b=3
print(type(a==b))

<class 'bool'>

In [9]:
#common errors
result="hello"+5 #in the left i am having the string but in the right side i m having the int values, but string do the type casting into the string.
print(result)

TypeError: can only concatenate str (not "int") to str

In [10]:
# for resolvement for that we can do one thing  type conversion.
result="hello"+str(5) #here i am converting the 5 as the str and now we can do the concatenation of the 5 into the hello string
print(result)

hello5

In [ ]:
str="hello"
str.

In [ ]:
 #arthematic operations
a=10
b=5
add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_division_result=a//b #It will only give the element before the point values
modulas_result=a%b
exponential_result=a**b
print(add_result) 
print(sub_result) 
print(mult_result) 
print(div_result) 
print(floor_division_result)

15
5
50
2.0
2

In [4]:
# Division
a=19
b=2
print(a/b)
# Floor division 
a=15
b=2
print(a//b)

9.5
7

Comparision Operators

In [ ]:
# Comparision operators
# Equal to ==
a=10
b=10
a==b

True

In [ ]:
# Not equal to 
Str1="krish"
Str2="krish"
Str1!=Str2

False

In [11]:
# Greater than
a=10
b=20
print(a<b)
#less than
print(a>b)

True
False

In [13]:
# greater than equal to:
number1=65
number2=65
print(number1>=number2)
#less than equal to
number1=98
number2=89
print(number1>=number2)

True
True

# Logical Operators

# AND: 
both the A and B needs to be True to get the output as True.if any of it having False it will consider as False in total.

# OR:
either one of the A and B if true whole statement is consider as True.

# NOT:

Not is equal to mean that if True then it will eventually mean as False and False will eventually be True.

In [ ]:
# Logical operators
# And,Or,Not
X=True
Y=False
C=True

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3002323675.py, line 12)

In [ ]:
#And 
print(X and Y)
print(X and C)

In [ ]:
#Or
print(X or Y)

In [24]:
#Not
print(X,not Y)  # so x is true and Y is false it  will enventually give true even it was false because uses the = right (not=!=)it contain the and = so true and false= false but in the not it will give the true.
#inverse way
print(not X) #if the x is true will be given as False

True True
False

# Simple Calculator

In [25]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
print("Addition:",num1+num2)
print("Substraction:",num1-num2)
print("Multiplication:",num1*num2)
print("Exponentian:",num1**num2)
print("Floor divisons:",num1//num2)
print("Divison:",num1/num2)
print("Modulas:",num1%num2)

Addition: 377
Substraction: -309
Multiplication: 11662
Exponentian: 1982752679664802571226661050762444284705711354324457639849140382692511801336239415985368058681044312889335645311953776156602745279312081142828381351083031613710782472160829291497817278719515347689322935396246845227494016807340008247094255783201608338187761584157329863611308293626747502432655712241399740381878312662988836828664338124620323077768962037287096309469141544890402030886421886100774165890092166079396549253223502259714379260299261303854544416118832251657541764491543870966309124754363529103949344029506222847688704
Floor divisons: 0
Divison: 0.09912536443148688
Modulas: 34