# Data types 
Defination:  
It's basially the type of classification which the programer intended to use the data and store it into a variables.  
It's tell's the memory how much the memory i am gonna used for storing the data into the memory.    
if you want to store int values you required -8bit of memories to store.  
if you want to store float values you required -16bit of memories to store.

Data types ensurues that the data get's stored into a very efficient manners
So that performing operation can be done very efficiently

# Overviews
1.Introduction to data types  
2.Importance of data types in programming   
3.Basic data types  
* integer
* floating-point number
* strings
* booleans
4. Advanced  Data Types  
* Lists
* Tuples
* Sets
* Dictionaires  
5. Type conversion    
6. Pratical example

In [1]:
## Integer example
age=24
print(type(age))

24

In [2]:
# floating point number
height=23.12
print(type(height))

<class 'float'>

In [4]:
#String datatypes 
name="himanshu"
print(name)

himanshu

In [5]:
#Boolean vairables
a=True
b=False
print(a==b)

False

In [7]:
a=2
b=3
print(type(a==b))

<class 'bool'>

In [9]:
#common errors
result="hello"+5 #in the left i am having the string but in the right side i m having the int values, but string do the type casting into the string.
print(result)

TypeError: can only concatenate str (not "int") to str

In [10]:
# for resolvement for that we can do one thing  type conversion.
result="hello"+str(5) #here i am converting the 5 as the str and now we can do the concatenation of the 5 into the hello string
print(result)

hello5

In [ ]:
str="hello"
str.

In [ ]:
 #arthematic operations
a=10
b=5
add_result=a+b
sub_result=a-b
mult_result=a*b
div_result=a/b
floor_division_result=a//b
modulas_result=a%b
exponential_result=a**b
print(add_result) 
print(sub_result) 
print(mult_result) 
print(div_result) 
print(floor_division_result)