**LOOPS:**

OVERVIEW:  
1.TWO TYPE OF LOOP -1.FOR LOOP -2.WHILE LOOP
2.**FOR LOOP**
  * Iterating over  a range.
  * Iterating over a string.

3.**WHILE LOOP**  
4.**LOOP CONTROL STATEMENT**
  * break
  * continue

5.**NESTED LOOP**  
6.**PRACTICE LOOP WITH EXAMPLE**

**FOR LOOP**:Iterate over the sequence of item through the iterable.  
1.Default start from 0.  
2.iterables last one is excluded mean if you gave the range 5 there will be the output for the number as 0,1,2,3,4,.

In [2]:
# Loop  
# FOR LOOP Syntax:
# Range of function 
for i in range(5): #i is temporary variable which store the iteration and print that 
    print(i)

0
1
2
3
4

**WHY DOES THE LAST VALUE GET's EXCLUDED?**
Because this is design in this term  
* start-included  
* end-excluded   
And if the last get excluded  that make the whole code mathmatically wrong if give wanna print 5 number it will start from the 0,1,2,3,4,5 it's now 6 digit not the 5 digit you wanna print 
* **Another way you can get the output**  
   (start,end,step)

In [ ]:
for i in range(1,10,2):
    print(i)
#here as we have 2 as the step start from 1 then take two step ahead then do iteration and put the value into the temp variable.

1
3
5
7
9

In [10]:
#Reverse a number for that we can easily the step in that -1 for backward as you know if you want to go for forward there  will be +1 and now for the backward that will be -1.
for i in range(10,1,-1): # we want is start the value from the 10 and goes in the reveverse upto 1 
    print(i)

10
9
8
7
6
5
4
3
2

In [11]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [ ]:
#for str
str="himanshu is a playboy?"
# now gonna iterate the str
for  i in str:
    print(i)

h
i
m
a
n
s
h
u

i
s

a

n
i
c
e

b
o
y
.

In [22]:
# WHILE LOOP 
# execute untill the statement is true.stop when the statemnet become false
i=0
while i<10:
    print("hello wordl")
    i=i+1

hello wordl
hello wordl
hello wordl
hello wordl
hello wordl
hello wordl
hello wordl
hello wordl
hello wordl
hello wordl

In [4]:
count=0
while count%2==0:
    print("hello")
    count+=1

hello

In [ ]:
count=1
while count<5:
    print(count)
    count+=1 #write a  increment because  while loop require that.

1
2
3
4

**LOOP CONTROL STATEMENT**  
1.**BREAK**  
*This is used for exting the loop prematurely.*   
(used for breaking the loop when something or certain thing we want is complete.)      

2.**CONTINUE**  
*Skip the current iteration and skip to the next iteration to complete the whole pocess*.  
In the end you see whole iteration as per the commond but skipped that particular iteration which one is said to skip.rather than that we can we all the iteration.execpt that one.   
  
3.**PASS**  
*This control statement do nothing it just null operation it basically do nothing.*

In [14]:
# Break statement 
for i in range(10):
    if i>=7:
        break # here by the if statement is true it is exiting the loop prematurly why prematurely because as we see that there as been the range of the (10) that why i say break exit the loop prematurly.  
    print(i)
print(i)

0
1
2
3
4
5
6
7

In [1]:
for i in range(10):
    if i<7:
        continue
    print(i)

7
8
9

In [6]:
# for EVEN number
for i in range(10):
    if i%2==0:
        continue
    print("Odd Number between 1 to 10\n",i)

Odd Number between 1 to 10
 1
Odd Number between 1 to 10
 3
Odd Number between 1 to 10
 5
Odd Number between 1 to 10
 7
Odd Number between 1 to 10
 9

In [7]:
# Pass Control Statement.
# The Pass statement do nothing just a null operation.
for i in range(1,10):
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

**Nested Loop:**
Loop inside of the loops.

In [ ]:
# Nested Loop
for i in range(3): #it will start with the zero and exclude the 3 (0,1,2)
    for j in range(2):
        print(f"i:{i},j:{j}")

i:0,j:0
i:0,j:1
i:1,j:0
i:1,j:1
i:2,j:0
i:2,j:1

In [18]:
# Example- Calculate the sum of the n natural number using while loop and the for loop.

# For  loop
# n=int(input("Enter the natural number you want the sum of:"))
# sum=0
# if n<=0:
#     print("Enter the natural number that is greater than zero:")
# else:
#       for i in range(1,n+1):
#         sum+=i
# print(sum)

# While Loop
n=int(input("enter the number"))
sum=0
i=1
while i<=n:
    sum+=i
    i+=1
print(sum)

10

In [9]:
# Prime number 1 to 100
for i in range(1,101):
    # True 
    for j in range(2,i-1):
        if i%2==0 and i%j==0:
            print("not Prime",j)
        else:

_IncompleteInputError: incomplete input (2561500285.py, line 8)